
<div data-aos="fade"  data-aos-delay="100" class="Container mb-24 lg:mb-36">
    <div class="col-start-2 col-span-6">
        <h4 class="text-h4 mb-12">{$data->heading}</h4>

        {control h2oReferenceSlider}

    </div>
</div>