<section data-aos="fade" data-aos-delay="100" class="Services mb-16 lg:mb-24">
    <div class="Container">
        <h4 class="text-h4 normal-case mb-10">{$data->heading}</h4>
        <div class="text-body-xl">
            {$data->content|predlozky|noescape}
        </div>
    </div>
</section>

