<li x-data="{ opened: false }" class="relative">
    <span @click="opened = !opened" class="Btn px-0 inline-flex items-center gap-x-2">
        {='assets/gfx/svg/icon-user.svg'|svg:'w-8 h-8 md:w-5 md:h-5'|noescape}
        {$user->identity->email}
        {='assets/gfx/svg/icon-chevron-down.svg'|svg:'w-5 h-5 -ml-1'|noescape}
        
    </span>

    <div @click.away="opened = false" x-show="opened" style="display: none" x-transition class="bg-white top-full mt-2 shadow absolute rounded-md py-2 px-4 min-w-[180px] right-0">
        <ul>
            <li><a class="text-sm flex items-center gap-x-2 py-1 hover:underline" href="">
                {='assets/gfx/svg/icon-list.svg'|svg:'w-4 h-4'|noescape}
                Moje inzeráty
                </a></li>
            <li><a href="{plink PopoUser:popularAds}" class="text-sm flex items-center gap-x-2 py-1 hover:underline" href="">
                {='assets/gfx/svg/icon-heart-empty.svg'|svg:'w-4 h-4'|noescape}
                Můj hangár 
                <span n:snippet="adPopularByUserCnt">
                    {control adPopularByUser:cnt, template => 'cnt'}
                </span>
                </a></li>
            <li><a class="text-sm flex items-center gap-x-2 py-1 hover:underline" href="{plink @settings}">
                {='assets/gfx/svg/icon-cog.svg'|svg:'w-4 h-4'|noescape}
                Nastavení
                </a></li>
            <li><a n:href="logout!" class="text-sm flex items-center gap-x-2 py-1 hover:underline">
                {='assets/gfx/svg/icon-logout.svg'|svg:'w-4 h-4'|noescape}
                Odhlášení
                </a></li>
        </ul>
    </div>
</li>