  <!-- Footer -->
  <div class="copy-bottom white boxed">© Popovické Zahrady 2021 <br /> <span style="font-size: 85%">Vytvořilo <a href="//andweb.cz" target="_blank">ANDWEB s.r.o</a></span>.</div>
  {* <div class="lang-bottom white boxed">
	<div class="menu-lang">
	  <a href="#" class="active">En</a>
	  <a href="#">Fr</a>
	  <a href="#">De</a>
	</div>
  </div> *}