<span n:if="$data->facebook_url" class="mr-2"><a target="_blank" href="{$data->facebook_url}" class="header__facebook-link"></a></span>
<span n:if="$data->instagram_url" class="mr-2"><a target="_blank" href="{$data->instagram_url}" class="header__instagram-link"></a></span>
<span n:if="$data->twitter_url" class="mr-2"><a target="_blank" href="{$data->twitter_url}" class="header__twitter-link"></a></span>
<span n:if="$data->linkedin_url" class="mr-2"><a target="_blank" href="{$data->linkedin_url}" class="header__linkedin-link"></a></span>