<div class="Container">
    <div class="Row">
        <div class="Col w-full">
            <h1 class="text-h2 mb-10">{$presenter->navigation->navItem['title']}</h1>
            <div class="RichText">
                {$data->content|noescape}
            </div>
        </div>
    </div>
</div>



{* <div class="MediaGroup">
    {include '../../fragments/photogallery.latte', photos => $photos}
    {include '../../fragments/files.latte', files => $files}
</div>
 *}


