<div class="static-block pt-0 pb-0">
		<div class="container">

			<div class="row">

				<div class="col-lg-12 text-left">
					<h1>{$data->heading}</h1>
					<div class="lead" style="max-width: none;">
						{$data->content_big|noescape}
					</div>

					<div>
						{$data->content_normal|noescape}
					</div>
				</div>
			</div>

		</div>
</div>
