<h2 class="text-h2 text-center mb-0 Lined-1">
    Vyberte si ze 
    <span class="text-gray-500">{$stats[1]->cnt}</span> nabídek a 
    <span class="text-gray-500">{$stats[2]->cnt}</span> poptávek
</h2>