@layer components {
  .Alert,
  .alert {
    @apply mt-0 mb-8 relative p-5 pl-16;
    background-repeat: no-repeat;
    background-position: 20px 16px;
    background-size: 30px;
    @apply text-base;

    svg {
    }

    a {
      @apply underline;
    }

    &.-xs {
      @apply p-3 pl-10;
      background-position: 12px 13.5px;
      background-size: 20px;
    }
  }

  .Alert.Alert--Error,
  .alert.-error {
    @apply bg-red-200  rounded text-red-600;
    background-image: url(/assets/gfx/svg/alert-alert.svg);
  }

  .Alert.Alert--Success,
  .alert.-success {
    @apply bg-green-200  rounded  text-green-600;
    background-image: url(/assets/gfx/svg/alert-success.svg);
  }

  .Alert.Alert--Warning,
  .alert.-warning {
    @apply bg-yellow-100  rounded  text-yellow-700;
    /*background-color: #ffecb2;*/
    background-image: url(/assets/gfx/svg/alert-warning.svg);
  }

  .Alert.Alert--Info,
  .alert.-info {
    @apply bg-blue-200  rounded text-blue-600;
    background-image: url(/assets/gfx/svg/alert-info.svg);
  }
}
