@layer components {
  .BtnIcon {
    min-height: 42px;
    transition: ease-in-out 150ms;
    @apply cursor-pointer;
    @apply inline-flex items-center justify-center gap-x-2;

    &:hover {
      @apply text-black;
    }
  }

  .Btn {
    min-height: 44px;
    transition: ease-in-out 150ms;
    @apply cursor-pointer;
    @apply inline-flex items-center justify-center;
    @apply px-6;
    @apply rounded-md border border-transparent;
    @apply font-normal;

    &[disabled] {
      @apply opacity-30;
    }
    /* aka typo */

    &.-Black {
      @apply bg-_black text-white inline-flex  border-black;

      &:hover {
        @apply bg-black;
      }
    }

    &.-Yellow {
      @apply bg-_yellow text-white inline-flex;
    }

    &.-BlackOutlined {
      @apply text-_black inline-flex border-black;

      &:hover {
        @apply bg-_black text-white;
      }
    }

    &.-White {
      @apply bg-white text-_black inline-flex border-white;
      border: 1px solid theme('colors.black');

      &:hover {
        //@apply bg-black text-white;
      }
    }

    &.-Xs {
      min-height: 32px;
      @apply text-sm px-3;
    }
    &.-Xl {
      min-height: 56px;
      @apply text-lg;
    }
  }
}
