@layer components {
  .BtnIcon {
    min-height: 42px;
    transition: ease-in-out 150ms;
    @apply cursor-pointer;
    @apply inline-flex items-center justify-center gap-x-2;

    &:hover {
      @apply text-black;
    }
  }

  .Btn {
    min-height: 48px;
    transition: ease-in-out 150ms;
    @apply cursor-pointer;
    @apply inline-flex items-center justify-center;
    @apply px-6;
    @apply rounded-lg border border-transparent;
    @apply font-normal;

    /* aka typo */

    &.-Black {
      @apply bg-black text-white inline-flex  border-black;

      &:hover {
        //@apply bg-bg text-black;
      }
    }

    &.-BlackOutlined {
      @apply text-black inline-flex border-black;

      &:hover {
        //@apply bg-bg text-black;
      }
    }

    &.-White {
      @apply bg-white text-black inline-flex border-white;
      border: 1px solid theme('colors.black');

      &:hover {
        //@apply bg-black text-white;
      }
    }
  }
}
