@layer components {
  .FormLabel {
    @apply block;
    @apply mb-1.5;

    &.-Error {
      @apply text-error;
    }
  }

  .FormControl {
    @apply block;
    @apply w-full;
    @apply bg-transparent;
    border: 1px solid theme('colors.brown-light-super');
    min-height: 52px;
    border-radius: 0;

    &.-Error {
      border-color: theme('colors.error');
    }
  }

  textarea.FormControl {
    min-height: 200px;
    @apply py-3;
  }

  .FormControl[type='text'],
  .FormControl[type='password'],
  .FormControl[type='email'],
  textarea.FormControl {
    @apply px-3;

    &:focus {
      outline: 3px solid theme('colors.brown-light-super') !important;
    }
  }

  .FormFakeRadio {
    appearance: none;
    @apply w-4 h-4 rounded-full;
    border: 1px solid theme('colors.brown-light-super');
    padding: 3px;
    background-clip: content-box;

    &:checked {
      @apply bg-black;
    }
  }
}
