.HeroWeb {
  @apply bg-_blue relative overflow-hidden pb-5 lg:pb-20;

  @screen md {
    min-height: 550px;
  }

  &.-MobileNavOpened {
    overflow: visible;
  }

  &.-Short {
    min-height: auto !important;
    @apply pb-5 lg:pb-8;
  }
}
