.EdgeSlider {
  .swiper-slide:nth-child(odd) {
    width: 100%;
  }
  .swiper-slide:nth-child(even) {
    width: 100%;
  }

  @screen lg {
    .swiper-slide:nth-child(odd) {
      width: 369px;
    }
    .swiper-slide:nth-child(even) {
      width: calc(100% - 369px - 32px);
    }
  }

  /* pagination */
}

.swiper-pagination-h2o {
  @apply mb-4 text-center lg:hidden;
}

.swiper-bullet {
  @apply inline-block w-2 h-2 ml-1 mr-1 rounded-full cursor-pointer;
  //border: 1px solid theme('colors.brown-light-super');
}

.swiper-bullet-active {
  border: 1px solid theme('colors.black');
}

:is(.swiper-button-prev) {
  @apply left-4 !important;

  @media (min-width: 1320px) {
    @apply -left-16 !important;
  }
}

:is(.swiper-button-prev.-Exception) {
  @apply -left-16 !important;
}

:is(.swiper-button-prev, .swiper-button-next) {
  @apply w-10 h-10 !important;
  @apply hidden lg:block !important;
}

:where(.swiper-button-prev, .swiper-button-next):after {
  @apply hidden;
}
