#web-preloader {
  @apply bg-bg;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5000;
}

#web-status {
  @apply w-36 h-36 lg:w-60 lg:h-60;

  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url('/assets/gfx/logo-preloader.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
