<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-3">

    {var $icons = [ 
        'airplane-2.svg',
        'airplane-4.svg',
        'helicopter.svg',
        'airplane-3.svg',
        'airplane-5.svg',
        'repair.svg',
        'parking.svg',
    
    ]}
    {foreach $listByTree as $item}

        {var $subCount = isset($info[$item->id]['subCategories']) ? count($info[$item->id]['subCategories']) : 0}

        {foreach \App\FrontModule\Components\AdCategoryMenu::AD_TYPES as $typeId => $typeName}
            {var $adCount[$typeName] =  isset($info[$item->id]['adCount'][$typeName]) ? $info[$item->id]['adCount'][$typeName] : 0}

            {if isset($adCounts[$item->id][$typeId])}
                {var $adCount[$typeName] += $adCounts[$item->id][$typeId]}
            {/if}
        {/foreach}

        {var $heading = $item->title}

        <a href="{plink Ad:default navId => $item->id, q => null, f => null}" class="
            bg-white border border-gray-200 relative rounded-md
                bg-white  hover:shadow-md hover:shadow-slate-900/10 px-5 py-4 rounded
                                                    
                    transition-transform
                    duration-200
                    transform hover:-translate-y-1 hover:shadow-md
                
                ">
            <h3 class="text-h3 mb-0 flex gap-x-4 items-center">
                {if $item->image_id}
                    {='.'.$item->image->getImageUrl('original')|svg:'w-12 h-12 flex-shrink-0 text-[#FFD015]'|noescape}
                {/if}
                   
                <div>
                    {$heading}
                    <div n:if="$showSubcategoriesInfo" class="text-xs text-gray-500 font-light">
                        {$subCount}
                        {if $subCount == 1}
                            kategorie
                        {elseif $subCount < 5}
                            kategorie
                        {else}
                            kategorií
                        {/if}
                    </div>

                    <div class="text-xs text-gray-500 font-light">
                        {$adCount['offers']}
                        {if $adCount['offers'] == 0}
                            nabídek
                        {elseif $adCount['offers'] == 1}
                            nabídka
                        {elseif $adCount['offers'] < 5}
                            nabídky
                        {else}
                            nabídek
                        {/if}

                        /

                        {$adCount['demands']}
                        {if $adCount['demands'] == 0}
                            poptávek
                        {elseif $adCount['demands'] == 1}
                            poptávka
                        {elseif $adCount['demands'] < 5}
                            poptávky
                        {else}
                            poptávek
                        {/if}

                    </div>
         
                </div>
            </h3>
            
        </a>
    {/foreach}


</div>