/*! ----------------------------------------------------------------------------------------------------

  * project       : H2O Group realty
  * author        : Roman Janko <admin@rjwebdesign.cz>
  * company       : RJwebdesign (https://rjwebdesign.cz)
---------------------------------------------------------------------------------------------------- */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// base
@import 'base/base';
@import 'base/typo';
@import 'base/grid';

// @import 'components/alert';
// @import 'components/accordion';
// @import 'components/desktop-filters';
// @import 'components/mobile-filters';
// @import 'components/header';
@import 'components/footer';
// @import 'components/line';
// @import 'components/shamrock';
// @import 'components/forms';
@import 'components/buttons';
// @import 'components/nav';
@import 'components/sliders';
@import 'components/web-preloader';

// // forms
// @import 'components/forms/form-control';
// @import 'components/forms/form-select';

// // vendors
// @import 'vndr/magnific/settings';
// @import 'vndr/magnific/main';
// @import 'vndr/tippy';
@import 'vndr/swiper-bundle';
// @import 'vndr/slick-carousel/slick/slick';
@import 'vndr/swiper/swiper-bundle';

/*

https://picsum.photos/id/13/742/896
https://picsum.photos/id/13/1810/1150

*/

.grecaptcha-badge {
  visibility: hidden;
}

.full-width {
  width: 100vw;
  position: absolute;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
