parameters:
	db:
		dsn: 'mysql:host=kancelar.andweb.cz;dbname=xxx'
		user: xxx
		password: xxx
		reflection: Andweb\Database\Conventions\Conventions

database:
	dsn: 'mysql:host=kancelar.andweb.cz;dbname=xxx'
	user: xxx
	password: xxx
	reflection: Andweb\Database\Conventions\Conventions
