parameters:
	db:
		dsn: 'mysql:host=web.pilotak.cz;dbname=pilotak_bazar'
		user: pilotak_bazar
		password: 32wGxfQvYH~xhqbboE
		reflection: Andweb\Database\Conventions\Conventions

database:
	dsn: 'mysql:host=web.pilotak.cz;dbname=pilotak_bazar'
	user: pilotak_bazar
	password: 32wGxfQvYH~xhqbboE
	reflection: Andweb\Database\Conventions\Conventions
