{var $htmlClass = 'homepage'}

{block content}

    {include '../fragments/header.latte'}


    <main class="BaseContainer__Main">
        
        <div class="pt-5 pb-10 bg-[#f2f2f2]">
            <div class="Container">
                <div class="Row space-y-4">
                    <div class="Col w-full text-sm flex items-center gap-1">
                        {control breadcrumbs}
                    </div>
                    <div class="Col w-full">
                        <a n:if="$presenter->navigation->navItem->parent__navigation_id" 
                            href="{plink Ad:default navId => $presenter->navigation->navItem->parent__navigation_id}" class="rounded border p-1 px-3 inline-flex items-center text-gray-500 text-sm">
                            {='assets/gfx/svg/icon-chevron-left.svg'|svg:'w-5 h-5 transform mr-1'|noescape}
                            {_}Zpět{/_}
                        </a>
                    </div>
                </div>
            </div>
        </div>

     
        <section class="pb-10 bg-[#f2f2f2]">
                <div class="Container">
                    <div class="Row">

                        <div class="Col w-full">

							{ifset $q}
                                <h2 class="text-h2 text-left mb-14 Lined-1">Vyhledávání <sup class="font-normal px-2 py-1 bg-white rounded border border-gray-200 text-[0.45em] top-[-1em]">{_}{$presenter->adType}{/_}</sup></h2>
								{control adListByCategories:searchTitle, template => 'searchTitle'}
                            {else}
                                 <h2 class="text-h2 text-left mb-14 Lined-1">{$presenter->navigation->navItem['title']} <sup class="font-normal px-2 py-1 bg-white rounded border border-gray-200 text-[0.45em] top-[-1em]">{_}{$presenter->adType}{/_}</sup></h2>
							{/ifset}

				            {control adCategoryMenu, parent => $presenter->navigation->navItem['id']}
                        </div>
                    </div>
                </div>
        </section>

    
        {control adListByCategories}

    </main>


    {include '../fragments/footer.latte'}
    
{/block}