@keyframes Bird1 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -20px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes Bird2 {
  0% {
    translate: 0 0;
  }
  50% {
    translate: 0 -12.5px;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes Airplane1 {
  0%,
  50% {
    translate: 0 0;
  }

  70% {
    translate: 500px -1000px;
  }
  75% {
    opacity: 0.25;
  }
  76% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Airplane2 {
  0% {
    opacity: 0;
    translate: -300px 0;
  }

  25% {
    opacity: 1;
    translate: 100px inherit;
  }
  27% {
    translate: 70px 0;
  }
  60% {
    opacity: 1;
  }
  75% {
    translate: 500px 0;
  }
  80% {
    opacity: 0.8;
    translate: 2000px 0;
  }
  81% {
    opacity: 0;
  }

  85% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes UpDown {
  0% {
    margin-top: 0;
  }
  25% {
    margin-top: 10px;
  }
  50% {
    margin-top: -10px;
  }
  75% {
    margin-top: 10px;
  }
  100% {
    margin-top: 0;
  }
}

@keyframes Love {
  0%,
  to {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  25% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    opacity: 1;
  }

  50% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    opacity: 1;
  }

  75% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes flash {
  0%,
  30%,
  50%,
  70% {
    opacity: 1;
  }

  40%,
  60%,
  80% {
    opacity: 0;
  }
}

.Bird1 {
  animation: Bird1 3s ease-in-out infinite;
}

.Bird2 {
  animation: Bird2 3s 1500ms ease-in-out infinite;
}

.Airplane1 {
  animation: Airplane1 12s 1500ms ease-in-out infinite backwards;
}

.Airplane2 {
  animation: UpDown 1.5s ease-in-out infinite, Airplane2 20s linear infinite;
}

.Love svg path {
  transform-origin: bottom;
  animation: Love 1300ms infinite linear;
}

.Love svg path:nth-child(1) {
  animation-delay: 0ms;
}

.Love svg path:nth-child(2) {
  animation-delay: 390ms;
}

.Love svg path:nth-child(3) {
  animation-delay: 790ms;
}

.Transparent {
  padding: 0.25rem;
  display: inline-block;
  position: relative;
  border-radius: 2px;
  font-family: system-ui;
  font-size: 11px;
  @apply bg-white;
  margin-right: 1rem;
}

.Transparent__line {
  width: 1rem;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  right: -1rem;
}

.Transparent__name {
  //animation: flash ease 3.5s infinite;
}
