@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-_black font-normal leading-normal;
    @apply antialiased;
    font-family: 'Roboto', sans-serif;
  }

  html.Lock,
  html.Lock body {
    @apply overflow-hidden;
    overscroll-behavior-y: none;
  }
}

// https://css-tricks.com/prevent-page-scrolling-when-a-modal-is-open/
