@layer components {
  .text-h1 {
    font-size: 32px;

    @screen lg {
      font-size: 64px;
    }

    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    font-family: 'Graphik';
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05rem;
  }

  .text-h2 {
    font-size: 32px;

    @screen lg {
      font-size: 44px;
    }

    font-weight: 400;
    line-height: 1.1;
    font-family: 'Cigars';
    font-style: normal;
    font-stretch: normal;
  }

  .text-h3 {
    font-size: 32px;

    @screen lg {
      font-size: 40px;
    }

    font-weight: 400;
    line-height: 1.1;
    text-transform: uppercase;
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05rem;
  }

  .text-h4 {
    font-size: 32px;

    @screen lg {
      font-size: 36px;
    }

    font-weight: 400;
    line-height: 1.1;
    font-family: 'Cigars';
    font-style: normal;
    font-stretch: normal;
  }

  .text-h5 {
    font-size: 24px;

    @screen lg {
      font-size: 28px;
    }

    font-weight: 400;
    line-height: 1.1;
    font-family: 'Cigars';
    font-style: normal;
    font-stretch: normal;
  }

  .text-h6 {
    font-size: 12px;

    @screen lg {
      font-size: 16px;
    }

    line-height: 1.1;
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05rem;
  }

  .text-h7 {
    font-size: 10px;

    @screen lg {
      font-size: 12px;
    }

    line-height: 1.1;
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05rem;
  }

  .text-mobile-menu {
    font-size: 12px;

    line-height: 1.1;
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05rem;
  }

  .text-menu {
    @apply uppercase;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'Graphik';
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.07rem;
  }

  .text-body-xl {
    font-size: 14px;

    @screen lg {
      font-size: 20px;
    }

    font-weight: 400;
    @apply leading-normal;
    font-family: 'Cigars';
    font-style: normal;
    font-stretch: normal;
  }

  .text-body {
    font-size: 16px;
    font-weight: 400;
    @apply leading-normal;
    font-family: 'Cigars';
    font-style: normal;
    font-stretch: normal;
  }

  .text-body-sm {
    font-size: 12px;
    font-weight: 400;
    @apply leading-normal;
    font-family: 'Cigars';
    font-style: normal;
    font-stretch: normal;
  }

  .text-stroked {
    color: black;
    -webkit-text-fill-color: theme('colors.bg');
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    line-height: 1.1;
    font-family: 'Graphik';
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: 0.05rem;
    transition: 300ms ease-in-out;
  }

  .text-unstroked {
    -webkit-text-fill-color: initial;
    -webkit-text-stroke-color: initial;
    -webkit-text-stroke-width: initial;
  }
}
