{block content}

    {include '../fragments/header.latte'}

    <div class="BaseContainer__Main">

        {control contactContent}

    </div>
    
    {include '../fragments/footer.latte'}

{/block}