{block content}

    {include '../fragments/header.latte'}

    <div class="BaseContainer__Main">

        {* Contact form *}
        {include '../fragments/tpl/contact-form.latte'}

    </div>
    
    {include '../fragments/footer.latte'}

{/block}