{var $htmlClass = 'homepage'}

{block content}

    {include '../../fragments/web/header.latte', full => true}

    <main class="BaseContainer__Main">

        {control ctaBox}

        {control flightsStaticBlock}

        {control flightList}
        
        {control airportStaticBlock}


        {control numbers}

    </main>


    {include '../../fragments/web/footer.latte'}
    

{/block}