<section class="bg-[#fff] py-10 md:py-20">
    <div class="Container">
        <div class="Row">
            <div class="Col w-full">
                
                <div class="text-_purple text-base font-bold uppercase text-center mb-3 tracking-wide">{$data->subheading}</div>
                <h2 class="text-h2 text-left mb-12 md:mb-14 Lined-3 text-center">{$data->heading}</h2>

                {control airport}

            </div>
        </div>
    </div>
</section>



