<div class="Container">
    <div class="Row">
        <div class="Col w-full">
            <div class="">
                <h1 class="text-h1 mb-16 Lined-3 text-center">{$data->heading}</h1>
                <div class="max-w-4xl mx-auto text-xl font-normal text-center">
                    {$data->content|noescape}
                </div>
            </div>
        </div>
    </div>
</div> 
