<section class="bg-pp-blue-light py-10 lg:py-20">
    <div class="Container">
        <div class="Row">
            <div class="Col w-full">
                <h2 class="text-h2 LinedRed">Mohlo by Vás zajímat</h2>

                <div class="grid grid-cols-4 sm:grid-cols-4 lg:grid-cols-9 xl:grid-cols-12 gap-4">

                    <a href="{plink PopoBoard:default}" class="CardCta col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col text-center">
                        <div class="CardCta__Image">
                            {='assets/gfx/svg/uredni_deska.svg'|svg:'m-auto w-14 h-14'|noescape}
                        </div>
                        <div class="CardCta__Text">
                            <h4 class="text-h4">Úřední deska</h4>
                            <div class="text-perex-md">Oficiální rozhodnutí, vyhlášky</div>
                        </div>
                    </a>

                    <a href="{plink PopoDocument:default}" class="CardCta col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col text-center">
                        <div class="CardCta__Image">
                            {='assets/gfx/svg/dokumenty.svg'|svg:'m-auto w-14 h-14'|noescape}
                        </div>
                        <div class="CardCta__Text">
                            <h4 class="text-h4">Dokumenty</h4>
                            <div class="text-perex-md">Ke stažení</div>
                        </div>
                    </a>

                    <a href="{plink Layout:default, navId => 9}" class="CardCta col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col text-center">
                        <div class="CardCta__Image">
                            {='assets/gfx/svg/kontakty.svg'|svg:'m-auto w-14 h-14'|noescape}
                        </div>
                        <div class="CardCta__Text">
                            <h4 class="text-h4">Kontakty</h4>
                            <div class="text-perex-md">Jsme tu pro Vás</div>
                        </div>
                    </a>

                    <a href="{plink PopoEvent:default}" class="CardCta col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col text-center">
                        <div class="CardCta__Image">
                            {='assets/gfx/svg/akce.svg'|svg:'m-auto w-14 h-14'|noescape}
                        </div>
                        <div class="CardCta__Text">
                            <h4 class="text-h4">Akce</h4>
                            <div class="text-perex-md">Zábava a setkání</div>
                        </div>
                    </a>

                    <a href="{plink Layout:default, navId => 19}" class="CardCta col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col text-center">
                        <div class="CardCta__Image">
                            {='assets/gfx/svg/zpravodaj.svg'|svg:'m-auto w-14 h-14'|noescape}
                        </div>
                        <div class="CardCta__Text">
                            <h4 class="text-h4">Obecní zpravodaj</h4>
                            <div class="text-perex-md">PDF ke stažení</div>
                        </div>
                    </a>

                    <a href="{plink Layout:default, navId => 20}" class="CardCta col-span-2 lg:col-span-3 xl:col-span-2 flex flex-col text-center">
                        <div class="CardCta__Image">
                            {='assets/gfx/svg/firmy.svg'|svg:'m-auto w-14 h-14'|noescape}
                        </div>
                        <div class="CardCta__Text">
                            <h4 class="text-h4">Firmy v obci a okolí</h4>
                            <div class="text-perex-md">Služby pro občany</div>
                        </div>
                    </a>

                </div>
            </div>
        </div>
    </div>
</section>