<div class="eu-cookies" n:if="empty($_COOKIE[eu-cookies])">
	<div class="text-center">
		{_}Tento web používá k poskytování služeb, personalizaci reklam a analýze návštěvnosti soubory cookie. Používáním tohoto webu s tím souhlasíte.{/_}
		
		<div class="mb-2"></div>
		<a class="mr-3" href="https://www.google.com/policies/technologies/cookies/" target="_blank">{_}Další informace{/_}</a> 
		<button class="Btn Btn--Success">{_}V pořádku{/_}</button>
	</div>
</div>
<noscript><style>.eu-cookies { display:none }</style></noscript>