<section data-aos="fade"  data-aos-delay="100" class="Shamrock mb-24 lg:mb-36">
    <div class="Container grid lg:grid-cols-3 gap-6 lg:gap-8">                    
        <a href="{plink H2oServiceDetail:default, navId => 708}" class="Shamrock__Link group">
            <h3 class="text-h3 mb-10 text-center text-stroked group-hover:text-unstroked">
                {_}Investice a development{/_}
            </h3>
            <div class="Shamrock__Points">
                {control h2oServices template => 'shamrock', navigation_id => 708}
            </div>
        </a>

        <div class="Line  my-4 lg:hidden">
            <hr />
        </div>

        <a href="{plink H2oServiceDetail:default, navId => 709}" class="Shamrock__Link group">
            <h3 class="text-h3 mb-10 text-center text-stroked group-hover:text-unstroked">
                {_}Projektový managament{/_}
            </h3>
            <div class="Shamrock__Points">
                {control h2oServices template => 'shamrock', navigation_id => 709}
            </div>
        </a>

        <div class="Line  my-4 lg:hidden">
            <hr />
        </div>


        <a href="{plink H2oServiceDetail:default, navId => 710}" class="Shamrock__Link group">
            <h3 class="text-h3 mb-10 text-center text-stroked group-hover:text-unstroked">
                {_}Realizace staveb{/_}</h3>
            <div class="Shamrock__Points">
                {control h2oServices template => 'shamrock', navigation_id => 710}
            </div>
        </a>
    </div>
</section>