<form n:name="form" class="mx-auto max-w-lg flex ">
    <input n:name="q" type="text" class="border-0 focus-visible:outline-none focus:ring-2 pr-12 ring-_black ring-offset-1 block w-full py-2.5 px-3 rounded-md" placeholder="Hledat v inzerátech..." />
    <button n:name="submit" class=" rounded-md  px-3 -ml-12">
        {='assets/gfx/svg/icon-search.svg'|svg:'w-8 h-8'|noescape}
    </button>
</form>