    <div n:class="
        'swiper-slide 
        relative
        transition-transform
        duration-200
        transform md:hover:-translate-y-1 md:hover:shadow-md
        flex rounded-md border border-gray-200',
        isset($adv[top]) && $adv->top ? 'bg-yellow-100'
        "
        :class="{ 'flex-col': view == 'columns' || !view }"
        style="height: auto !important;"
    >
        <span n:if="isset($adv[top]) && $adv->top"
            class="absolute top-4 border border right-2.5 rounded px-1 font-normal bg-yellow-400 text-_black text-xs"
        >TOP</span>


        {if !isset($adv['adv'])}
            {control likeControl-$adv->id}
        {/if}
           
        <a class="absolute z-[1] inset-0" href="{plink Ad:detail $adv->id, q => null, f => null, adType => null}"></a>    

        <span n:if="isset($adv[adv])"
            class="absolute  top-4 border border right-2.5 rounded px-1 font-normal bg-red-400 text-white text-xs"
        >Reklama</span>


        {var $photos = $adv->ad_photo}
        
        {if count($photos)}
            {foreach $photos as $photo}
                {var $image = $photo}
                {php break}
            {/foreach}
            {$image->getImageElement('hero', [':class' => "{ 'h-56  w-full object-cover' : view == 'columns' || !view, 'h-20 w-20 md:h-56 md:w-56 object-cover' : view == 'rows' }"])}
        {else}
            <img 
            alt="" 
            src="/assets/gfx/no-image.jpg" 
            :class="{ 'h-56 w-full object-cover' : view == 'columns' || !view, 'h-20 w-20 md:h-56 md:w-56 object-cover' : view == 'rows' }" />
        {/if}



        <div class="p-5 pb-2 flex-grow flex flex-col">
            <h3 class="text-h4 mb-4 line-clamp-3">
                {$adv['heading']} 
            </h3>

            <p class="text-sm text-_black line-clamp-3 mb-4">
                {$adv['content']} 
            </p>
            <div class="mt-auto">

                <p class="text-h3 mb-0">
                    {if !$adv['price']}
                        <span class="text-gray-500 text-sm">cena neuvedena</span>
                    {else}
                        {$adv['price']} 
                        {$adv->currency->symbol}
                    {/if}
                </p>
                <p class="border-t -ml-5 -mr-5 px-5 pt-2 mt-2 text-xs text-gray-500 flex flex-wrap justify-between">
                    <span class="inline-flex items-center gap-x-1 -ml-0.5">
                        {='assets/gfx/svg/icon-pin.svg'|svg:'w-4 h-4'|noescape}
                        {if isset($adv->county_id)}
                            {$adv->county->name}
                        {/if}
                    </span>
                    <span>{$adv->created->format('j.n.Y')} </span>
                </p>
            </div>
        </div>
    </div>