<div>
    <h2 class="flex gap-x-4 flex-wrap items-center mb-10 -mt-6 text-h3 font-normal text-left mb-0">
        Výsledky pro 
        <mark class="font-bold bg-yellow-100 rounded px-1">&bdquo;{$q}&ldquo;</mark> 
        <span class="text-gray-500 text-h3 mb-0">({$searchResultCnt}x)</span>
    </h2>
</div>
