<div>
    <h2 class="flex gap-x-2 flex-wrap items-center mb-10 -mt-6 text-h3 font-normal text-left mb-0">
        Výsledky pro 
        <mark class="font-normal bg-yellow-100 border border-yellow-200 rounded px-1">&bdquo;{$q}&ldquo;</mark> 
        <span class="text-gray-500 text-h3 mb-0 font-normal">({$searchResultCnt}x)</span>
    </h2>
</div>
