<div class="Container mb-14">
    <div class="Row">
        <div class="Col w-full">
            <h2 class="text-h2 Lined-3 mb-14">{$data->heading}</h2>

            {control $presenter['airportRoute']}

            <div class="text-sm">
                {$data->message|noescape}
            </div>

        </div>
    </div>
</div>