<form n:name="filterForm" class="NajaPreloaderWrapper relative ajax">


    <div class="NajaPreloader | bg-bg/80 absolute inset-0 z-40 | hidden">
        <div class="flex items-center justify-center h-full">
            <img src="/assets/gfx/logo.png" class="w-20" alt="" />
        </div>
    </div>


    {* Mobile *}
    <div n:if="!$presenter->isDesktop()" class="Filters mb-8">

        <div class="Container">
            <div class="Line"><hr /></div>
            <div id="showMobileFilters" class="text-h7 flex items-center justify-end cursor-pointer py-3">
                {_}Zobrazit filtr{/_}
                {='assets/gfx/svg/icon-filter-search.svg'|svg:'w-5 h-5 ml-3 transform  ml-4 mr-2'|noescape}
            </div>
            <div class="Line"><hr /></div>
        </div>

        <div class="MobileFilters">

            <div class="MobileFiltersArea">
                <div id="closeMobileFilters" class="flex justify-end mb-3">
                    {='assets/gfx/svg/icon-close.svg'|svg:'w-8 h-8 text-black'|noescape}
                </div>

                {* Filter modal filters *}
                <div class="MobileFiltersArea__Filters space-y-8">
                    <div>
                        <div class="mb-3">
                            <div class="Line"><hr /></div>
                            <div class="text-h7 py-3">
                                {_}Typ nemovitosti{/_}
                            </div>
                            <div class="Line"><hr /></div>
                        </div>
                        <div class="FilterCheckboxListGroup | flex gap-x-5 gap-y-3 flex-wrap">
                            {foreach $form['f-type']->getItems() as $key => $label}
                                <label class="inline-flex items-center gap-x-2">
                                    <input n:name="f-type:$key" class="FormFakeRadio" type="checkbox" />
                                    <span class="text-h7">{$label}</span>
                                </label>
                            {/foreach}
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <div class="Line"><hr /></div>
                            <div class="text-h7 py-3">
                                {_}Lokalita{/_}
                            </div>
                            <div class="Line"><hr /></div>
                        </div>
                        <div class="FilterCheckboxListGroup | flex gap-x-5 gap-y-3 flex-wrap">
                            {foreach $form['f-location']->getItems() as $key => $label}
                                <label class="inline-flex items-center gap-x-2">
                                    <input n:name="f-location:$key" class="FormFakeRadio" type="checkbox" />
                                    <span class="text-h7">{$label}</span>
                                </label>
                            {/foreach}
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <div class="Line"><hr /></div>
                            <div class="text-h7 py-3">
                                {_}Dispozice{/_}
                            </div>
                            <div class="Line"><hr /></div>
                        </div>
                        <div class="FilterCheckboxListGroup | flex gap-x-5 gap-y-3 flex-wrap">
                            {foreach $form['f-disposition']->getItems() as $key => $label}
                                <label class="inline-flex items-center gap-x-2">
                                    <input n:name="f-disposition:$key" class="FormFakeRadio" type="checkbox" />
                                    <span class="text-h7">{$label}</span>
                                </label>
                            {/foreach}
                        </div>
                    </div>
                    <div>
                        <div class="mb-3">
                            <div class="Line"><hr /></div>
                            <div class="text-h7 py-3">
                                {_}Velikost{/_}
                            </div>
                            <div class="Line"><hr /></div>
                        </div>
                        <div class="FilterCheckboxListGroup | flex gap-x-5 gap-y-3 flex-wrap">
                            {foreach $form['f-size']->getItems() as $key => $label}
                                <label class="inline-flex items-center gap-x-2">
                                    <input n:name="f-size:$key" class="FormFakeRadio" type="checkbox" />
                                    <span class="text-h7">{$label}</span>
                                </label>
                            {/foreach}
                        </div>
                    </div>

                </div>

                
                <div>
                    <div class="Line my-4"><hr /></div>
                    <div class="flex">
                        <button n:name="search" id="MobileSearch" class="Btn -Empty ml-auto mt-auto">
                            {_}Hledat{/_}
                            {='assets/gfx/svg/icon-arrow-right.svg'|svg:'w-4 h-4 ml-3'|noescape}
                        </button>
                    </div>
                </div>
            
            </div>

        </div>

    </div>



    {* Desktop *}
    <div n:if="$presenter->isDesktop()" data-aos="fade" data-aos-delay="100" class="Filters hidden md:block  mb-16">
        <div class="Line">
            <div class="Container">
                <hr />
            </div>
        </div>
        <div class="Container grid grid-cols-[1fr,1fr,1fr,1fr,150px] gap-x-4 py-6 items-center">
            <div class="text-h7">
                {_}Typ nemovitosti{/_}
            </div>
            <div class="text-h7">
                {_}Lokalita{/_}
            </div>
            <div class="text-h7">
                {_}Dispozice{/_}
            </div>
            <div class="text-h7">
                {_}Velikost{/_}
            </div>
            <div id="toggleDesktopFilters" class="text-h7 flex items-center justify-end cursor-pointer">
                <span class="toggleDesktopFilters__Button">
                    <span>{_}Zobrazit filtr{/_}</span>
                    <span>{_}Skrýt filtr{/_}</span>
                </span>
                {='assets/gfx/svg/icon-arrow-right.svg'|svg:'w-4 h-4 ml-3 transform  ml-4 mr-2'|noescape}
            </div>
        </div>
        <div class="Line">
            <div class="Container">
                <hr />
            </div>
        </div>
        <div class="DesktopFilters">
            <div class="Container grid grid-cols-[1fr,1fr,1fr,1fr,150px] gap-x-4 py-6">
                <div class="FilterCheckboxListGroup space-y-3.5">
                    {foreach $form['f-type']->getItems() as $key => $label}
                        <label n:name="f-type:$key" class="flex items-center gap-x-2 select-none">
                            <input n:name="f-type:$key" class="FormFakeRadio" type="checkbox" />
                            <span class="text-h7">{$label}</span>
                        </label>
                    {/foreach}
                </div>
                <div class="FilterCheckboxListGroup space-y-3.5">
                    {foreach $form['f-location']->getItems() as $key => $label}
                        <label n:name="f-location:$key" class="flex items-center gap-x-2 select-none">
                            <input n:name="f-location:$key" class="FormFakeRadio" type="checkbox" />
                            <span class="text-h7">{$label}</span>
                        </label>
                    {/foreach}
                </div>
                <div class="FilterCheckboxListGroup space-y-3.5">
                    {foreach $form['f-disposition']->getItems() as $key => $label}
                        <label n:name="f-disposition:$key" class="flex items-center gap-x-2 select-none">
                            <input n:name="f-disposition:$key" class="FormFakeRadio" type="checkbox" />
                            <span class="text-h7">{$label}</span>
                        </label>
                    {/foreach}
                </div>
                <div class="FilterCheckboxListGroup space-y-3.5">
                    {foreach $form['f-size']->getItems() as $key => $label}
                        <label n:name="f-size:$key" class="flex items-center gap-x-2 select-none">
                            <input n:name="f-size:$key" class="FormFakeRadio" type="checkbox" />
                            <span class="text-h7">{$label}</span>
                        </label>
                    {/foreach}
                </div>
                <div class="flex flex-col">
                    <button n:name="search" class="Btn -Empty ml-auto mt-auto">
                        {_}Hledat{/_}
                        {='assets/gfx/svg/icon-arrow-right.svg'|svg:'w-4 h-4 ml-3'|noescape}
                    </button>
                </div>
            </div>
            <div class="Line">
                <div class="Container">
                    <hr />
                </div>
            </div>
        </div>
    </div>


    <div data-aos="fade" data-aos-delay="100" n:snippet="list" class="NajaShowPreloader Container grid md:grid-cols-2 lg:grid-cols-3 gap-x-6 gap-y-12 lg:gap-x-8 mb-16">
        {if !count($rows)}
            {_}Žádné projekty nenalezeny{/_}
        {/if}


        {foreach $rows as $row}
            <div class="group">
                <a href="{plink Realty:detail $row->id}" class="block mb-5">
                    {if $row->cover__image_id && $row->cover__image}
                        {$row->cover__image->getImageElement('realty-list', ['class' => 'group-hover:opacity-70'])}
                    {/if}
                </a>
                <h2 class="text-h5 mb-4"><a href="{plink Realty:detail $row->id}">{$row->heading}</a></h2>
                <div class="text-h7">{$row->subheading|m2|noescape}</div>
            </div>
            <div class="Line md:hidden"><hr /></div>
        {/foreach}

    </div>

    <div n:snippet="pager">
        <div n:if="$showPager" class="Container flex items-center">
            <a n:href="setPage! $control->page + 1" class="Btn -Empty mx-auto | ajax">
                {_}Načíst další{/_}
                {='assets/gfx/svg/icon-arrow-right.svg'|svg:'w-4 h-4 ml-3'|noescape}
            </a>
        </div>
    </div>

</form>