<a class="text-gray-500 hover:underline" href="{plink @homepage}">Úvod</a>
/
{foreach $data as $crumb}
	{if $iterator->isLast()}
		<span>{$crumb['title']|noescape}</span>
	{else}
		{if $crumb['url']} 
			<a class="text-gray-500 hover:underline" href="{$crumb['url']}">{$crumb['title']|noescape}</a>
		{else}
			<span>{$crumb['title']|noescape}</span>
		{/if}
	{/if}
	{sep}/{/sep}
{/foreach}