{ifset $forceTitle}
	{$forceTitle}
{else}
	{foreach $data as $title}
		{last}{$title}{/last} {* Schválně last, v title se má vypisovat poslední konkreténí položka, ne celá cesta - <RJ> *}
	{/foreach}
{/ifset}
